@import url(/font.css);

body {
  font-family: 'museo-sans', sans-serif;
  /* font-family: "Avenir", Tahoma, Arial, Helvetica, sans-serif; */
  font-weight: 300;
  background-image: url(../../assets/grey-tess-big.png);
  background-size: 75%;
  /* font-size: 1em;
  line-height: 1.65;
  color: #373F49;
  background: #eee;
  margin: 0; */
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-size: 2em;
  font-weight: normal;
}

a {
  color: currentColor;
}

.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .list-inline li {
    display: inline-block;
  }




  /* Contact Page */
.contact-info {
    background-color: white;
    width: auto;
    padding: 17px;
}
.contact-info p {
    margin: 0;
    padding: 3px;
}
.contact-type {
    font-weight: 500;
}
.contact-details {
    font-weight: 100;
}

#map {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 3%;
    margin-bottom: 20px;
    margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  /* .header-logo-div {
      width: 39%;
  }
  .header-logo {
      width: 90%;
  }
  .navbar {
      width: 60%;
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-right: 1%;
  }
  .hamburger-bars {
      display: none;
  }
  .navbar a {
      display: initial;
      color: white;
      font-size: 17px;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  p {
      font-size: 15px;
      width: 100%;
  }
  h1 {
      text-align: left;
      margin-left: 10%;
  }
  h2, h3 {
      text-align: left;
      margin-left: 8%;
  }

  .home-title {
      left: 5%;
      font-size: 50px;
  }

  .project {
      background-color: white;
      padding: 5px;
      margin-top: 20px;
  }
  .staff {
    display: flex;
    flex-wrap: wrap;
  }
  .staff-member {
    width: 50%;
  } */

  .contact-content {
    display: flex;
  }
  .contact-text {
    width: 50%;
    padding-top: 5%;
  }
  .contact-info {
    margin-right: 5%;
  }
  #map {
    width: 50%;
    padding: 2%;
  }

}