@import url(/font.css);

/* GENERAL */
body {
  font-family: 'museo-sans', sans-serif;
  font-weight: 300;
  background-image: url(../../assets/grey-tess-big.png);
  background-size: 75%;
}
p {
  background-color: white;
  width: fit-content;
  padding: 20px;
  font-size: 14px;
}
img {
  max-width: 100%;
}
h1, h2, h3 {
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}
h3 {
  margin-bottom: 10px;
}

.header {
  background-color: white;
  padding-bottom: 2vmin;
}
.footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper {
  margin: 5vmin 0vmin 5vmin 0vmin;
  padding: 2vmin;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0% 1.5%;
}


/* HEADER AND FOOTER */
.header-logo-div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header-logo {
  height: 80%;
  width: 80%;
  max-width: 300px;
}
.home-title-image {
  position: relative;
  margin-top: 10px;
}
.home-title {
  position: absolute;
  top: 8px;
  left: 3%;
  text-align: left;
  word-spacing: 5000px;
  color: black;
}
.footer img {
  max-width: 250px;
}



/* STAFF MEMBER */
.staff-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.staff-image {
  border-radius: 50%;
  width: 70%;
  max-width: 250px;
  margin: auto;
}
.staff-display-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  max-width: 350px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 4px;
}
.staff-info {
  margin: auto;
  padding: 10px;
}
.staff-info p, .staff-info h4 {
  margin: 0;
  padding: 3px;
}
.staff-info h4 {
  font-size: 20px;
}
.role {
  font-size: 14px;
  font-weight: 700;
}
.qualifications {
  font-size: 11px;
}
.email {
  font-weight: 100;
}



/* CONTACT PAGE */
.contact-info {
  background-color: white;
  width: auto;
  padding: 17px;
}
.contact-info p {
  margin: 0;
  padding: 3px;
}
.contact-type {
  font-weight: 500;
}
.contact-details {
  font-weight: 100;
}

#map {
  height: auto;
  background-color: white;
  padding: 3%;
  margin-top: 20px;
}


/* NAVBAR */
.navbar {
  background-color: rgb(0, 47, 108);
  width: 100%;
  border-radius: 3px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 1%;
}
.navbar a, .navbar a:visited {
  display: initial;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;  /* might need to make smaller with projects */
  padding: 10px 8px;
}
.navbar a:hover {
  background-color: rgb(45, 90, 148);
  border-radius: 5px;
}


@media only screen and (min-width: 768px) {
  .header-logo-div {
    width: 39%;
  }
  .header-logo {
    width: 90%;
  }
  .navbar {
    width: 60%;
    margin-top: 30px;
    justify-content: flex-end;
  }
  .navbar a, .navbar a:visited {
    padding: 14px 16px;
    font-size: 17px;
  }
  
  p {
    font-size: 15px;
    width: 100%;
  }
  h1 {
    text-align: left;
    margin-left: 8%;
  }
  h2, h3 {
    text-align: left;
    margin-left: 8%;
  }
  
  .home-title {
    font-size: 50px;
  }
  
  .project {
    background-color: white;
    padding: 5px;
    margin-top: 20px;
  }
  .staff {
    display: flex;
    flex-wrap: wrap;
  }
  .staff-member {
    width: 50%;
  } 
  
  .contact-content {
    display: flex;
  }
  .contact-text {
    width: 50%;
    padding-top: 5%;
  }
  .contact-info {
    margin-right: 5%;
  }
  #map {
    width: 50%;
    padding: 2%;
  }
}
