@import url(./font.css);

/* GENERAL */
body {
  font-family: 'museo-sans', sans-serif;
  font-weight: 300;
  background-color: #53565A;
  background-size: 75%;
  margin: 0;
  color: white;
}
p {
  width: fit-content;
  padding: 20px;
  font-size: 14px;
}
img {
  max-width: 100%;
}
h1, h2, h3 {
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  color: #DBB13B;
}
h3 {
  margin-bottom: 10px;
}
h2 {
  margin-top: 2rem;
  font-size: 36px;
}

.header {
  position: fixed;
  width: 100%;
  background-color: white;
  height: 15vh;
  margin-top: -1vh;
  z-index: 100;
  filter: drop-shadow(0 0.2rem 0.2rem rgb(34, 34, 34));
}
.footer {
  background-color: #383b3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.wrapper {
  margin: 1vmin 0vmin 1vmin 0vmin;
  padding: 2vmin;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0% 1.5%;
}


/* HEADER AND FOOTER */
.header-logo {
  height: 13vh;
  width: auto;
  padding: 1vh;
}
.home-title-image {
  margin-top: 10px;
}
.home-title {
  width: 45%;
  color: black;
}
.engineer-hand {
  filter: drop-shadow(0 0.2rem 0.2rem rgb(34, 34, 34));
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
}



.footer img {
  max-width: 250px;
}


/* BURGER MENU */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 2.5rem;
  height: 2rem;
  right: 6vh;
  top: 6vh;
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background-color: rgb(0, 47, 108);
}
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background-color: rgb(45, 90, 148);
}
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 50px !important;
  width: 50px !important;
}
/* Color/shape of close button cross */
.bm-cross {
  background: rgb(116, 162, 223);
  height: 35px !important;
  right: 10px;
}
/* General sidebar styles */
.bm-menu {
  background: rgb(45, 45, 45);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
/* Menu link styles */
.bm-menu a, .bm-menu a:visited {
  display: initial;
  color: rgb(211, 210, 210);
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding: 3vh 0;
}
.bm-menu a:hover {
  color: rgb(219, 177, 59);
}



/* STAFF MEMBER */
.staff-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #D5D5D5;
}
.staff-image {
  width: 70%;
  max-width: 200px;
  margin: auto;
}
.staff-display-div {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 4px;
}
.staff-info {
  margin: auto;
  padding: 10px;
  width: max-content;
  max-width: 70vw;
}
.staff-info p, .staff-info h4 {
  margin: 0;
  padding: 3px;
}
.staff-info h4 {
  font-size: 20px;
}
.staff-name {
  text-transform: uppercase;
  font-weight: 100;
}
.role {
  font-size: 14px; 
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.qualifications {
  font-size: 11px;
}
.email {
  font-weight: 100;
}



/* CONTACT PAGE */
.contact-info {
  width: auto;
  padding: 17px;
}
.contact-info p {
  margin: 0;
  padding: 3px;
}
.contact-type {
  font-weight: 500;
}
.contact-details {
  font-weight: 100;
}

#map {
  height: 400px;
  padding: 3%;
  margin-top: 20px;
  border: 0;
  width: 90%;
}


@media only screen and (min-width: 768px) {
  .header {
    padding: 2vmin;
    max-height: 12vh;
  }
  .header-logo {
    width: auto;
    max-height: 11vh;
  }
  /* .bm-burger-button { */
  /* max-width: 50px; */
  /* max-height: 50px; */
  /* right: 3vh; */
  /* top: 5vh; */
  /* } */
  .navbar a, .navbar a:visited {
    padding: 14px 16px;
    font-size: 17px;
  }
  
  p {
    font-size: 15px;
    width: 100%;
  }
  h1 {
    text-align: left;
    margin-left: 8%;
  }
  h2, h3 {
    text-align: left;
    margin-left: 8%;
  }
  
  .home-title {
    font-size: 50px;
  }
  .home-title-image img {
    width: 55%;
  }
  
  .project {
    background-color: white;
    padding: 5px;
    margin-top: 20px;
  }
  .staff {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .staff-display-div {
    width: 400px;
  }
  .staff-info {
    width: initial;
  }
  .staff-member {
    flex-direction: row;
    margin-bottom: 20px;
  } 
  
  .contact-content {
    display: flex;
  }
  .contact-text {
    width: 50%;
    padding-top: 5%;
  }
  .contact-info {
    margin-right: 5%;
  }
  #map {
    width: 50%;
    padding: 2%;
  }
}
